<div th:fragment="footer">
  <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span>&copy; powered by group ucao</span>
  </div>
  </footer>
  <script th:scr="@{/js/jquery-ui.min.js}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/ckeditor.js}"></script>
  <script th:src="@{/js/app.js}"></script>
</div>